<style>
    body {
        margin: 0; /* Reset default margin */
    }
    
    header {
        background: linear-gradient(135deg, #333, #666);
        color: #fff;
        padding: 10px;
        text-align: center; /* Center-align the content */
    }
    
    header p {
        background: linear-gradient(135deg, #333, #666);
        color: #fff;
    }
    
    header img {
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 10px;
    }
    
    header .welcome-text {
        display: flex;
        align-items: center;
    }
    
    nav {
        background: linear-gradient(135deg, #555, #888);
        padding: 10px;
        text-align: center;
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }
    
    nav a:hover {
        color: #ccc;
    }
    
    #logoutButton {
        background: linear-gradient(135deg, #555, #888);
        color: white;
        border-color: #fff;
        position: absolute;
        margin-left: 35%;
    }
</style>

<header>
    <div class="welcome-text">
        <p><b>Welcome <%= username %></b></p>
    </div>
    <h1 style="margin-top: 0;">TODO APP</h1> <!-- Center-aligned and moved to the top -->
</header>

<nav>
    <a href="/">Home</a>
    <a href="/todo">Todo</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/logout" id="logoutButton">Logout</a>
</nav>
